<header>
  <div class="wrapper">
    <h1>LISA.H</h1>
    <p>
      Lisa.H is an aspiring frontend developer from the Netherlands, passionate
      about creating accessible and performant websites.
    </p>

    <div class="before"></div>
    <div class="base"></div>
    <div class="after"></div>
  </div>
</header>

<style>
  header {
    display: grid;
    padding: 1rem;
    width: 100%;
    max-width: 750px;
    height: 100%;
    max-height: 400px;
    margin-bottom: 1rem;
  }

  .wrapper {
    display: grid;
    place-items: center;
    background-color: var(--primary);
    background-image: url(/svg/grad-one.svg), url(/svg/grad-two.svg);
    background-repeat: no-repeat;
    background-size: 150%;
    border-radius: 12px;
    margin-top: 1.5rem;
    transition: all 0.2s linear ease-in-out;
  }

  /* anchor positioning isnt supported in all browsers, use @supports later to only show then */
  .before,
  .base,
  .after {
    display: none;
  }

  h1 {
    font-family: "Gokil";
    font-weight: 400;
    font-size: 96px;
    line-height: 1;
    letter-spacing: 2px;
    transition: all 0.25s ease-in-out;
    align-self: flex-end;
  }

  p {
    max-width: 35ch;
    align-self: flex-start;
    justify-self: center;
    text-transform: uppercase;
    text-wrap: balance;
    line-height: 0.95;
    font-size: 1.2rem;
    letter-spacing: -1.5px;
    margin-top: -0.25rem;
    margin-bottom: 1rem;
    padding: 0 0.2rem;
  }

  @supports (position-anchor: auto) {
    .before,
    .base,
    .after {
      display: block;
    }

    .base {
      anchor-name: --base;

      justify-self: flex-end;
      align-self: flex-end;
      background-color: var(--bg);
      height: 2.5rem;
      width: 10rem;
      border-radius: 16px 0 0 0;
    }

    .before {
      position: absolute;
      position-anchor: --base;
      right: anchor(--base left);

      align-self: flex-end;
      height: 1.75rem;
      width: 2.5rem;
      background-image: url(/svg/polygon.svg);
      background-size: cover;
    }

    .after {
      position: absolute;
      position-anchor: --base;
      bottom: anchor(--base top);
      right: anchor(--base right);
      height: 1.75rem;
      width: 2.5rem;
      background-image: url(/svg/polygon.svg);
      background-size: cover;
    }
  }

  @media (width > 450px) {
    .base {
      height: 3.5rem;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .wrapper {
      background-position: bottom;
      animation: bg-rotate 8s ease-in-out infinite alternate;
    }

    @keyframes bg-rotate {
      0% {
        background-position: left;
      }
      25% {
        background-position: bottom left;
      }
      75% {
        background-position: top right;
      }
      100% {
        background-position: right;
      }
    }
  }
</style>
