---
import Divider from "../small/Divider.astro";
import Gradient from "../small/Gradient.astro";
---

<header>
  <div class="wrapper">
    <h1>LISA.H</h1>
    <p>
      Ex et commodo irure dolor id pariatur irure fugiat reprehenderit qui
      cupidatat incididunt in ad. Cillum exercitation ipsum occaecat aliqua
      laboris est ad cillum eiusmod occaecat.
    </p>
    <!-- <h1>LISA.H</h1> -->

    <div class="before"></div>
    <div class="base"></div>
  </div>
</header>

<style>
  header {
    display: grid;
    padding: 1rem;
    max-width: 750px;
  }

  .wrapper {
    display: grid;
    place-items: center;
    background-color: var(--primary);
    background-image: url(/src/static/svg/gradient.svg);
    background-position: center;
    background-size: cover;
    border-radius: 12px;
  }

  @media (prefers-reduced-motion: no-preference) {
    .wrapper {
      background-size: 100%;
      animation: bg-rotate 8s ease-in-out infinite alternate;
    }

    @keyframes bg-rotate {
      0% {
        background-position: left;
      }
      25% {
        background-position: bottom left;
      }
      75% {
        background-position: top right;
      }
      100% {
        background-position: right;
      }
    }
  }

  h1 {
    font-family: "Pangram Rounded Bold";
    font-size: 96px;
    line-height: 1;
    letter-spacing: -2px;
    transition: all 0.25s ease-in-out;
  }

  p {
    text-transform: uppercase;
    text-wrap: balance;
    line-height: 0.95;
    font-size: 1.2rem;
    letter-spacing: -1.5px;
    font-variation-settings:
      "wdth" 100,
      "wght" 100;
      margin-bottom: 1rem;
      padding: 0 0.2rem;
  }

  .base {
    anchor-name: --base;
    
    justify-self: flex-end;
    background-color: var(--bg);
    height: 2rem;
    width: 10rem;
    border-radius: 16px 0 0 0; 
  }

  .before {
    position: absolute;
    position-anchor: --base;
    right: anchor(--base left);

    align-self: flex-end;
    height: 1.75rem;
    width: 2.5rem;
    background-image: url(/src/static/svg/polygon.svg);
    background-size: cover;
  }

  @media (width > 450px) {
    .divider,
    .base {
      height: 3rem;
    }
  }
</style>
