@font-face {
  font-family: "Instrument Sans";
  src: url(/fonts/InstrumentSans-VariableFont_wdth\,wght.woff2) format("woff");
}

@font-face {
  font-family: "Pangram Rounded Bold";
  src: url(/fonts/PPPangramSansRounded-Bold.woff2) format("woff");
}

@font-face {
  font-family: "Pangram Rounded Medium";
  src: url(/fonts/PPPangramSansRounded-Medium.woff2) format("woff");
}

@font-face {
  font-family: "Pangram Rounded Extra Bold";
  src: url(/fonts/PPPangramSansRounded-CompressedExtrabold.woff2) format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text: #121212;
  --bg: #f4f0eb;

  --primary: #4f21a0;
  --secondary: #e5701d;
  --tertiary: #ffbb1d;
  --extra-color: #1d55e5;

}

html {
  background: var(--bg);
  color: var(--text);
  line-height: 1.5;
}

body {
  display: grid;
  place-items: center;
  font-family: "Instrument Sans", Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

header,
main,
footer {
  max-width: 46rem;
}

h1, h2, h3 {
  font-weight: 400;
}

h2 {
  font-size: 72px;
  line-height: 1;
}

p {
  max-width: 35ch;
  font-variation-settings:
  "wdth" 95,
  "wght" 500;
}