---
import Icon from "../small/Icon.astro";
---

<section class="intro">
  <img src="./public/assets/avatar.png" alt="" class="avatar" width="345" />

    <!-- <Icon icon="two" className="slide-in-one" />
    <Icon icon="one" className="slide-in-two" /> -->

  <h2>Hello!</h2>
</section>

<style>
  .intro {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .avatar {
    z-index: 3;
    position: relative;
  }


  h2 {
    margin-top: -1rem;
    z-index: 5;
    justify-self: center;
  }
</style>
