---
import Icon from "../small/Icon.astro";
---

<section class="intro">
  <picture class="avatar">
    <source srcset="../assets/avatar.webp" type="image/webp" />
    <img src="../assets/avatar.png" alt="" width="345" />
  </picture>

  <!-- <Icon icon="two" className="slide-in-one" />
    <Icon icon="one" className="slide-in-two" /> -->

  <h2>Hello!</h2>
</section>

<style>
  .intro {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .avatar {
    z-index: 3;
    position: relative;
  }

  h2 {
    margin-top: -1rem;
    z-index: 5;
    justify-self: center;
  }
</style>
