---
import Icon from "../small/Icon.astro";
---

<section class="intro">
  <picture class="avatar">
    <source srcset="../assets/avatar.webp" type="image/webp" />
    <img src="../assets/avatar.png" alt="" width="345" />
  </picture>

  <!-- <Icon icon="two" className="slide-in-one" />
    <Icon icon="one" className="slide-in-two" /> -->

  <h2>Hello!</h2>
</section>

<style>
  .intro {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .avatar {
    z-index: 3;
    position: relative;
  }

  h2 {
    margin-top: -1rem;
    z-index: 5;
    justify-self: center;
  }

  @media (prefers-reduced-motion: no-preference) {
    @keyframes animate-in {
      0% {
        opacity: 0;
        transform: translateY(100%);
      }
      35% {
        opacity: 1;
        transform: translateY(-10%);
      }
      50% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    @keyframes animate-out {
      0% {
        opacity: 1;
        transform: translateY(0);
      }
      100% {
        scale: 0.6;
        opacity: 0;
        transform: translateY(-100%);
      }
    }

    h2 {
      opacity: 0;
      transform: translateY(-100%);
      animation:
        animate-in linear forwards,
        animate-out linear forwards;
      animation-timeline: scroll();
      animation-range: 10vh, 100vh;
    }
  }
</style>
