---
import Icon from "../small/Icon.astro";
---

<section class="intro">
  <picture class="avatar">
    <source srcset="../assets/avatar.webp" type="image/webp" />
    <img src="../assets/avatar.png" alt="" width="345" />
  </picture>

  <!-- <Icon icon="two" className="slide-in-one" />
    <Icon icon="one" className="slide-in-two" /> -->

  <h2>Hello!</h2>

  <p>
    I'm Lisa, a Frontend Design & Development student in Amsterdam.
    <br />
    I'm open for work. <a href="mailto:mail@lisah.dev">Contact me here!</a>
  </p>
</section>

<style>
  .intro {
    display: grid;
    place-items: center;
  }

  .avatar {
    z-index: 3;
    position: relative;
  }

  h2 {
    margin-top: -1rem;
    z-index: 5;
    justify-self: center;
  }

  p {
    margin-top: -0.75rem;
  }

  a {
    color: var(--text);
  }

  /* @media (prefers-reduced-motion: no-preference) {
    @keyframes animate-in {
      0% {
        opacity: 0;
        transform: translateY(100%);
      }
      35% {
        opacity: 1;
        transform: translateY(-10%);
      }
      40% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    h2 {
      opacity: 0;
      transform: translateY(-100%);
      animation: animate-in linear forwards;
      animation-timeline: scroll();
      animation-range: 10vh, 100vh;
    }

    p {
      opacity: 0;
      transform: translateY(-100%);
      animation: animate-in linear forwards;
      animation-timeline: scroll();
      animation-range: 30vh, 50vh;
    }
  } */
</style>
