<section>
  <h2>Work</h2>
  
  <p>
    Here you can see some work I'm proud of.
    <br />
    Or you can view all work <a href="https://github.com/lisagjh">here</a>.
  </p>
</section>

<style>
  section {
    margin-top: 5rem;
    display: grid;
    place-items: center;
  }

  .avatar {
    z-index: 3;
    position: relative;
  }

  h2 {
    z-index: 5;
    justify-self: center;
  }

  p {
    margin-top: -0.75rem;
  }

  a {
    color: var(--text);
  }
</style>
